{% include 'layout.html' %}

        <div class="container">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form id="register-form">
                        <div class="row">
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" autocomplete="email">
                        </div>
                            <div class="form-group col-md-6">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" autocomplete="username">
                            </div>
                        </div>

                         <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstname" autocomplete="firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastname" autocomplete="lastname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Role</label>
                                <input type="text" class="form-control" name="user_role" autocomplete="user_role">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" name="phone" autocomplete="phone">
                            </div>
                        </div>
                         <div class="row">
                            <div class="form-group col-md-6">
                                <label>Password</label>
                                <input type="password" class="form-control" name="newpassword" autocomplete="newpassword">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Verify Password</label>
                                <input type="password" class="form-control" name="verifynewpassword" autocomplete="verifynewpassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a href="/auth/login-page"">Already have an account?</a>
                </div>
            </div>
        </div>
</body>
</html>