{% include 'layout.html' %}

        <div class="container">
            <h1 class="text-center">Your Todos</h1>
            <div class="card">
                <div class="card-header text-center">
                    Pending
                </div>

                <div class="card-body">
                        <table class="table">
                              <thead>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Priority</th>
                              <th>Status</th>
                              </thead>
                              <tbody>
                              {% for todo in todos %}
                              {% if not todo.complete%}
                                <tr>
                                  <td>{{todo.title}}</td>
                                  <td>{{todo.description}}</td>
                                  <td>{{todo.priority}}</td>
                                  <td>{{todo.complete}}</td>

                                </tr>
                              {% endif %}
                              {% endfor %}
                              </tbody>
                            </table>


                </div>
                <div class="card-header text-center">
                    Completed
                </div>

                <div class="card-body">
                    <table class="table">
                              <thead>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Priority</th>
                              <th>Status</th>
                              </thead>
                              <tbody>
                              {% for todo in todos %}
                              {% if todo.complete%}
                                <tr>
                                  <td><del>{{todo.title}}</del></td>
                                  <td><del>{{todo.description}}</del></td>
                                  <td><del>{{todo.priority}}</del></td>
                                  <td><del>{{todo.complete}}</del></td>

                                </tr>
                              {% endif %}
                              {% endfor %}

                              </tbody>
                            </table>
                </div>
            </div>
        </div>
